:root {
  /* font-family: Roboto, Noto, sans-serif; */
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: #ececec;
  color-scheme: light dark;
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: 100vh;
  background-image: url('./assets/background.jpg');
  overflow: hidden;

}
